<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<!-- parallel="none"> -->
  <test name="Test">
    <classes>
      <!--<class name="TestCases.AutomationExecution"/>  -->
      <class name="iPhoneTestCases.TC_AccountSettings">
   <methods>
        
        
        <include name="TC_AccountSettings_253031"/>
       <!--  <include name="RegistrationSuite"/>  -->        
         
        
        <!--  <exclude name="addEmployeeTestCase" />-->
     </methods> 
       </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
